.footer {
    background-color: #4f46e5; /* Purple background */
    color: white;
    text-align: center;
    bottom: 0;
    border-style: solid;
    border-color: white;
    min-width: 100%;
  }
  
